<form ng-controller="NewCashFlowCtrl" action="<%= cash_flows_path %>" method="post">
  <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token">
  <div class="md-padding" layout="row" ng-repeat="income in incomes">
    <div flex="30">
      <md-input-container>
        <input type="text" ng-model="income.name" placeholder="income type" name="cash_flow[incomes_attributes][][name]">
      </md-input-container>
    </div>
    <div flex="30">
      <md-input-container>
        <input type="number" ng-model="income.value" placeholder="amount" name="cash_flow[incomes_attributes][][value]">
      </md-input-container>
    </div>
  </div>

  <div class="actions">
    <input type="submit" value="create cash flow">
  </div>
</form>
