<div ng-controller="CashFlowsCtrl">

<h1>Total Cash Flow</h1>
<div ng-repeat="cashFlow in cashFlows">
  <h3>Your Total Income</h3>
    $ {{cashFlow.total_income | number}}
  <h3>Total Expense</h3>
    $ {{cashFlow.total_expense | number}}
<md-divider></md-divider>
</div>

<%= link_to 'New Cash flow', new_cash_flow_path %>
</div>
